/* .all{
    background-color: rgb(110, 71, 71);
} */
.navbar{
    background-color:rgb(78, 10, 10) !important;
}
.nav-link{
    color: white !important;
    font-weight: bold !important;
}
.fa-shopping-cart, .fa-user{
   font-size: 20px !important;
}
.d-block{
    height: 25pc;
}
.fa-truck  ,.fa-headphones,.fa-thumbs-o-up{
    font-size: 50px !important;
    margin-right: 10PX;
    color: #d32f2f !important;

}
.card1 , .card2,.card3{
    display: flex;
    width: 300PX;
    height: 100%;
   background-color: white;
   box-shadow:2px 4px 5px gray;
   margin-top: 10px;
   color: rgb(78, 10, 10);
}
.maincard{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.newArrivals{
    margin-top: 50px ;
    height: 10pt !important;
}
.card-img-top{
    height:300px !important;
    
}
.card{
    background-color:rgb(194, 188, 188) !important ; 
}
.btn{
    background-color:rgb(78, 10, 10) !important ;
}
.btn-primary{
    width: 100%;
}
.container{
    
}
.carousel-caption{
    color: rgb(78, 10, 10) !important ;
}
.TXT{
    color: black !important;
}
.footer{
    background-color:  rgb(78, 10, 10) !important;
    color: white;
    padding: 40px 0px;
}
.footer h3{
    color: rgb(19, 7, 7);
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 9px;
    padding: 0;
}
/* .carousel-inner{
    margin: 500pt;
} */
.col-sm-12{
    margin: 20px;
}

.box{
    border-left: 1px solid white;
    margin-bottom: 10px;
    padding-left: 20px;
}
.row :nth-child(1){
    border-left: none;
}
.footer ul li{
    list-style: none;
}

.footer ul li a{
    color: white;
    color:white;
    font-weight:bold;
    font-size: 18px;
    padding-left: 0;
    padding-bottom: 4px;
    text-decoration: none;
}
.footer ul li a:hover{
    color: #878787;

}
.footer span {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: #3a3a65;
    line-height: 50px;
    transition: all 1s ease-in-out ;
    margin-bottom: 4px;
    cursor: pointer;
}

.footer span i{
    font-size: 24px;
    color: white;

}
.footer span:hover{
    transform: scale(1.2);
    transform: rotate(360deg);
}
#social{
    margin-bottom: 35px;
}
@media screen and (max-width: 600px) {
    .card1 , .card2,.card3{
        width:100%;
    }
}
body{
    background-color: rgb(77, 27, 27);
}

